#apresentation {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    width: 80%;
    font-size: 2rem;
    color: var(--color-neutral-0);;
}

#cta .title span {
    color: var(--color-active-text);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: inline-flex; /* Muda para inline-flex para ajustar ao tamanho do conteúdo */
    align-items: center;
    justify-content: center;
    padding: 10px; /* Reduz o padding para ajustar a moldura */
    border: 10px solid var(--color-primary-2);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#banner img {
    height: auto; /* Ajusta automaticamente a altura */
    width: 100%; /* Mantém a largura total da div pai */
    max-width: 480px; /* Limita a largura máxima da imagem */
    border-radius: 10px;
}



.shape {
    background-color: var(--color-primary-2);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #apresentation {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #apresentation .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}